env:
  - DOCKER_USERNAME=fengzhanyuan
sudo: required
services:
  - docker
before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
script:
  - ls
  - docker build -t lyrewing/skyline-webapi:1.0.3 .
  - docker push lyrewing/skyline-webapi:1.0.3